/*------------------------------------------------------------------

[Table of contents]
1. Category Page

-------------------------------------------------------------------*/

.title-category-page {
    font-size: 24px;
    color: #2b2b2b;
    border-bottom:2px solid #F6A01C;
    display: inline-block;
    line-height: 48px;
    box-sizing: border-box;
    padding: 0 15px;
}
.right-category-bar{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.right-category-bar p{
	font-size: 15px;
	margin:0px 15px 0 0;
}
.right-category-bar p,.right-category-bar a{
	color: #2b2b2b;
}
.right-category-bar a{
	font-size: 22px;
	margin: 0 0 0 5px;
}
.right-category-bar > *{
	line-height: 50px;
}
.icon-bar-category {
    padding: 9px;
}
.right-category-bar a:hover,.active-view-bar{
	text-decoration: none;
	color: #050505 !important;
}
.banner-top-category-page img{
	max-width: 100%;
	max-height: 100%;
}
/*-- CSS Product List --*/
.product-category-list{
	display: flex;
	flex-direction: row;
}
.product-category-list .image-product{
	margin: 0;
}
.info-product-list{
	width: calc(100% - 270px);
	padding:0 0 0 20px;
}
.product-category-list .ranking-product-category{
	float: none;
}
.product-category-list .price-product{
	display: block;
	padding: 12px 0;
	margin: 0;
}
.intro-product-category{
	font-size: 15px;
	line-height: 26px;
}
.product-category-list .title-product a{
	font-size: 16px;
	letter-spacing: 0.25px;
}
.button-product-list ul li {
    list-style: none;
    float: left;
    margin: 0 10px 0 0;
}
.button-product-list ul li a{
	background: #d6d6d6;
	color: #fff;
	font-size: 16px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    display: block;
}
.button-product-list ul li:first-child a {
    background: #e3171b;
    width: auto;
    padding: 0 25px;
}
.button-product-list ul li:not(:first-child):hover a{
	background: #333;
}
.button-product-list {
    margin: 10px 0 40px 0;
}
.info-product-list .title-product {
    margin: 20px 0 0 0;
}
.product-category .image-product:hover{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}