
/*------------------------------------------------------------------

[Table of contents]

1. Body
2. Header / #header
3. Navigation / #navbar
4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer

-------------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: "";
	font-size: 0;
	height: 0;
	clear: both;
}
body{
	font-family: 'Roboto', sans-serif;
	color: #2b2b2b;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
a,a:hover,a:focus{
	outline: none;
	text-decoration: none;
}
.clearfix{
	display: inline-block;
}
* html .clearfix{height: 1%}
.cleafix{
	display: block;
}
.absolute{
	position: absolute;
}
.clear-padding{
	padding: 0 !important;
}
.clear-margin{
	margin: 0 !important;
}
.clear-padding-left{
	padding-left: 0 !important;
}
.clear-padding-right{
	padding-right: 0 !important;
}
.clear-padding-top{
	padding-top: 0 !important;
}
.clear-padding-bottom{
	padding-bottom: 0 !important;
}
.clear-top{
	top: 0 !important;
}
.clear-left{
	left: 0 !important;
}
.clear-bottom{
	bottom: 0 !important;
}
.clear-right{
	right: 0 !important;
}
.overfollow-hidden{
	overflow: hidden;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.relative{
	position: relative;
}
.container-web{
	width:100%;
	padding:0 15px;
}
@media(min-width:1200px){
	.container-web{
		width: 1170px;
		margin: 0 auto;
		display: block;
	}
}
@media(max-width:1024px) and (min-width:480px){
	.box-banner-small-v3, .box-banner-small-v2{
		display:none;
	}
}

.text-red{
	color: #eb1a21;
}
.text-green{
	color: #3cb878;
}
.bold{
	font-weight: bold;
}
.full-width{
	width: 100%;
	height: auto;
}
.max-width{
	max-width: 100%;
}
.border{
	border: 1px solid #dedede;
	box-sizing: border-box;
}
.no-border-t{
	border-top: none;
}
.center-vertical-image{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.center-vertical-image img{
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
.no-border-b{
	border-bottom: none;
}
.no-border-r{
	border-right: none;
}
.no-border-l{
	border-left: none;
}
.top-margin-default{
	margin-top: 30px !important;
}
.bottom-margin-default{
	margin-bottom: 30px !important;
}
.left-margin-default{
	margin-left: 30px !important;
}
.right-margin-default{
	margin-right: 30px !important;
}
.top-padding-default{
	padding-top: 30px !important;
}
.bottom-padding-default{
	padding-bottom: 30px !important;
}
.left-padding-default{
	padding-left: 30px !important;
}
.right-padding-default{
	padding-right: 30px !important;
}
.top-margin-15-default{
	margin-top:15px !important;
}
.bottom-margin-15-default{
	margin-bottom:15px !important;
}
.left-margin-15-default{
	margin-left:15px !important;
}
.right-margin-15-default{
	margin-right:15px !important;
}
.top-padding-15-default{
	padding-top:15px !important;
}
.bottom-padding-15-default{
	padding-bottom:15px !important;
}
.left-padding-15-default{
	padding-left:15px !important;
}
.right-padding-15-default{
	padding-right:15px !important;
}
.bg-white{
	background: #fff;
}
.uppercase{
	text-transform: uppercase;
}
.content-row{
	display: flex;
	flex-direction: row;
}
.capitalize{
	text-transform: capitalize;
}
.bg-gray{
	background: #f7f7f7;
}
.bg-red{
	background: #F6A01C;
}
.text-default-color{
	color: #2b2b2b;
}
.animate-default{
	transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}
.percent-content-2{
	width: calc(100% / 2);
	float: left;
}
.percent-content-3{
	width: calc(100% / 3 - 0.3px);
	float: left;
}
.percent-content-4{
	width: calc(100% / 4);
	float: left;
}
.percent-content-5{
	width: calc(100% / 5);
	float: left;
}
.content-right{
	padding: 0 0 0 15px;
}
.content-left{
	padding: 0 15px 0 0;
}
.border-collapsed-box,.border-collapsed-element{
	border-color: #dedede;
	border-style: solid;
}
.border-collapsed-box{
	display: flex;
	flex-flow: row wrap;
	border-width: 1px 0 0 1px;
}
.border-collapsed-element{
	flex: 1 0 auto;
	border-width: 0 1px 1px 0;
}
.box-shadow{
	-webkit-box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.75);
}
.border-red{
	border-bottom: 2px solid #e3171b;
}
.hidden-content-box {
	display: none;
    opacity: 0;
    width: 100%;
}
.active-box-category {
    opacity: 1 !important;
    display: block;
}
/*  Css Header Website  */
header{
	z-index: 9;
}
.contact_us_header{
	padding: 6px 0;
	color: #231f20;
	float: left;
	font-size: 13px;
}
.contact_us_header img {
    margin: -1px 15px 0 0;
}
.header-top{
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	width: 100%;
	display: table;
}
.menu-header-top{
	float: right;
}
.menu-header-top li{
	list-style: none;
	font-size: 13px;
	float: left;
}
.menu-header-top li a{
	padding: 0 20px;
	box-sizing: border-box;
	margin: 6px 0;
	font-size: 13px;
	display: block;
	color: #2b2b2b;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition:0.5s ease;
}
.menu-header-top > ul > li a{
	border-right: 1px solid #e9e9e9;
}
.menu-header-top > ul > li:last-child a{
	border-right: none
}
.menu-header-top > ul > li > a:after,.menu-header > ul > li > a:after{
	position: absolute;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 3px 0 0 2px;
    content: '\f078';
    font-size: 8px;
}
.menu-header-top > ul > li a:only-child:after,.menu-header > ul > li a:only-child:after{
	content: '';
}
.menu-header > ul > li a:after {
    font-size: 10px;
    margin: 0px 0 0 5px;
}
.menu-header-top ul li > ul{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left:0;
	background: #ffffff;
	border:1px solid #e9e9e9;
	border-top: none;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	border-radius: 0 0 2px 2px;
	z-index: 9;
}
.menu-header-top ul li > ul li a{
	border: none
}
.menu-header-top ul li:hover ul{
	opacity: 1;
	visibility: visible;
}
.menu-header-top > ul{
	float: right;
}
.menu-header-top ul li a:hover{
	color: #e3171b;
}
.menu-header-top li li{
	border-bottom: 1px solid #dedede;
}
.menu-header-top li li:last-child{
	border:none;
}
.menu-header > ul > li > ul,.menu-header > ul > li .sub-menu{
	position: absolute;
	background: #fff;
	-webkit-box-shadow: 0px 3px 12px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 12px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 12px -5px rgba(0,0,0,0.75);
	left: 5px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	opacity: 0;
	visibility: hidden;
}
.menu-header > ul > li > ul:before,.menu-header > ul > li > .sub-menu:before{
	background: #929292;
	content: "";
	width: 0;
	position: absolute;
	height: 2px;
	top: 0;
	left: 0;
	transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-o-transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-moz-transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-webkit-transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.menu-header > ul > li:hover ul:before,.menu-header > ul > li:hover .sub-menu:before{
	width: 100%;
}
.menu-header > ul > li:hover ul,.menu-header > ul > li:hover .sub-menu{
	opacity: 1;
	visibility: visible;
	left: 0;
}
.mega-menu-v2 {
    min-width: 550px;
}
.menu-header > ul > li > ul li{
	display: block;
	float: none;
}
.menu-header > ul > li > ul  li  a{
	white-space: nowrap;
    text-overflow: ellipsis;
}
#mask-full-content{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100vh;
	background:rgba(0,0,0,0.3);
	z-index: 999;
	visibility: hidden;
}
.menu-mobile-left-content {
    position: fixed;
    top: 0;
    left: -301px;
    width: 300px;
    z-index: 1000;
    height: 100vh;
    background: #565b70;
    overflow: auto;

}
.mega-menu li,.mega-menu-v2 ul{
	width: calc(100% / 3 - 20px);
	float: left !important;
	margin: 10px;
	position: relative;
	overflow: hidden;
}
.mega-menu-v2 ul{
	display: flex;
	flex-direction: column;
}
.mega-menu-v2 ul li{
	position: relative;
	color: #333;
	width: 100%;
}
.mega-menu-v2 ul li:first-child{
	font-weight: bold;
	font-size: 15px;
	margin: 20px 0 10px 0;
}
.mega-menu-v2 ul li:not(:first-child) a{
	line-height: 40px !important;
	font-weight: normal;
	font-size: 15px;
}
.mega-menu-v2 ul li:first-child:before{
	content: "";
	bottom: 0;
	background: #eb1a21;
	position: absolute;
	left: 0;
	height: 1px;
	width: 50px;
}
.mega-menu li > a{
	padding: 0 !important;
	position: relative;
}
.mega-menu li > a:before {
    content: 'showmore';
    position: absolute;
    text-align: center;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    background: #e3171b;
    border-radius: 50px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 2;
    top: -50px;
    transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.mega-menu li > a:after{
	position: absolute;
	width: 100%;
	margin: 0 !important;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	background: rgba(0,0,0,0.3);
	opacity: 0;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	z-index: 1;
}
.mega-menu li > p{
	text-align: center;
}
.mega-menu li > a:hover:after{
	opacity: 1;
}
.mega-menu li > a:hover:before{
	top: 60px;
}
.mega-menu{
	min-width: 700px;
}
/*--- CSS Menu & Slide ---*/
.menu-slide {
    margin: 0 auto;
    display: block;
}
.menu-web{
	width: 270px;
	float: left;
    background: #565b70;
}
.menu-web ul{
    margin: 0;
}
.button-hover-red:hover,.button-hover-red a:hover{
    background: #dc141b !important;
    color: #fff !important;
}
.title-hover-black:hover,.title-hover-black a:hover{
	color: #000 !important;
}
.title-hover-red:hover,.title-hover-red a:hover{
	color: #eb1a21 !important;
}
.menu-web > ul li:before ,.menu-mobile-left-content > ul li:before{
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    width: 92%;
    height: 1px;
    background: #646980;
    transform: translateX(-50%);
}
.menu-web > ul li,.menu-mobile-left-content > ul li{
	list-style: none;
	position: relative;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.menu-web > ul li img,.menu-mobile-left-content > ul li img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 10px;
}
.menu-web > ul li a,.menu-mobile-left-content > ul li a{
	display: block;
	width: calc(100% - 20px);
	margin: 0 10px 1px 10px;
	height: 44px;
	line-height: 44px;
	color: #fff;
    text-decoration: none;
}
.menu-web > ul li p,.menu-mobile-left-content > ul li p{
	padding: 0 0 0 45px;
	font-size: 16px;
    margin:0;
}
.menu-web > ul li i,.menu-mobile-left-content > ul li i{
	margin: 0 0 0 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.menu-bg-white > ul li:last-child a, .menu-mobile-left-content > ul li:last-child a{
	border:none;
    margin: 0 10px;
}
.menu-web > ul li:first-child::before,.menu-mobile-left-content > ul li:first-child::before{
    display: none;
}
.menu-web > ul li:hover,.menu-mobile-left-content > ul li:hover{
    background: #333;
}
.menu-web > ul li a:hover{
    text-decoration: none;
}
.menu-bg-white ul li,.menu-bg-white{
    background: #fff;
}
.menu-bg-white ul li a{
    color: #565b70;
    height: 44.3px;
    line-height: 44.3px
}
.menu-bg-white > ul li:before{
    background: #e9e9e9;
}
.menu-bg-white > ul li:hover img{
    filter: brightness(0) invert(1);
}
.menu-bg-white > ul li:hover p{
    color: #fff;
}
.menu-bg-white > ul li:hover{
    background: #e3171b;
}
.menu_more_header {
    position: absolute;
    width: 270px;
    height: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -4px rgba(0,0,0,0.75);
}
.count-total-shopping.absolute {
    top: -5px;
    right: -5px;
    padding: 1px 4px;
    background: #ff0000;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 11px;
}
.category-box p{
	cursor: pointer;
    padding: 0 0 0 15px;
    line-height: 35px;
    width: 120px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    border-right: 1px solid #d4d4d4;
    font-size: 16px;
    margin: 0;
    background: #fff;
}
.category-box p:before{
	content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: 15px;
}
.category-box p:active ul{
	display: block;
}
.category-box ul{
	display: none;
}
.category-box ul li{
	list-style: none;
}
.search-box input,.search-box button,.category-box{
	float: left;
}
.search-box input {
    outline: none;
    border: none;
    padding: 7.5px 15px;
    width: calc(100% - 250px);
}
.search-box button{
	background: #F6A01C;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	width: 130px;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: 2px;
	outline: none;
	text-align: center;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.header-content {
    margin: 30px 0;
    display: flex;
}
.search-box{
	border: 2px solid #F6A01C;
	width: 600px;
	margin: 0 0 0 60px;
}
@media(min-width:1025px){
	.search-box{
		width:825px;
	}
}
.icon-search-mobile {
    font-size: 33px;
    top: 50%;
    height: 36px;
    transform: translateY(-50%);
    right: 100px;
    cursor: pointer;
    display: none
}
.category-box select {
    padding: 8px 11px 8px 10px;
    border: none;
    border-right: 1px solid #e9e9e9;
    background:#fff;
    outline: none;
    width: 120px;
    border-radius:0;
}
.cart-website{
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right:0;
	cursor: pointer;
}
.cart-website:hover p{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.cart-detail-header{
	width: 100%;
	max-width: 320px;
	position: absolute;
	top: 50px;
	right: 0;
	display: none;
	z-index: 10;
	opacity: 0;
	border-top: 3px solid #eb1a21;
	background: #fff;
	padding: 10px;
	-webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
}
.total-cart-header,.btn-cart-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.btn-cart-header a{
	display: block;
	text-align: center;
	padding: 10px 30px;
	margin: 10px 0 0 0;
	color: #fff;
}
.total-cart-header p{
	padding: 10px 0;
	font-size: 16px;
}
.btn-cart-header a:nth-of-type(1){
	background: #333;
}
.btn-cart-header a:hover:nth-of-type(1){
	background: #4c4b4b
}
.btn-cart-header a:nth-of-type(2){
	background: #eb1a21;
}
.info-product-cart{
	margin: 10px 0 0 0;
}
.total-product-cart-son {
    font-size: 15px;
    color: #7d7d7d;
}
.cart-detail-header:before {
    position: absolute;
    border-right: 10px solid transparent;
    content: "";
    border-bottom: 10px solid #eb1a21;
    border-left: 10px solid transparent;
    top: -12px;
    right: 5px;
}
.product-cart-son{
	width: 100%;
	display: table;
	border-bottom: 1px solid rgba(197, 196, 196, 0.4);
}
.product-cart-son .image-product-cart {
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 1px solid rgba(197, 196, 196, 0.4);
}
.product-cart-son:last-of-type{
	border: none;
}
.search-box p{
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.logo {
    margin: -5px 0 0 0;
}
.logo img{
	max-width: 100%;
	max-height: 100%;
}
/*--- Menu Header ---*/
.menu-header ul li{
    list-style: none;
    float: left;
    position: relative;
}
.menu-header ul li a {
    line-height: 51px;
    display: block;
    text-transform: capitalize;
    padding: 0 30px;
    font-weight: bold;
    font-size: 17px;
    color: #232323;
}
.menu-header > ul > li:first-child a i {
    margin: 0 10px 0 0;
}
.menu-header > ul > li:first-child a {
    color: #fff;
    line-height: normal;
    width: 270px;
    text-transform: uppercase;
    background: #F6A01C;
    padding: 15.5px 0 15.5px 18px
}
.icon-menu-bar {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 42px;
    display: none
}
@media(max-width:480px){
	.icon-menu-bar {
		left: -8px;
	}
}
.mask-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.65);
}
.box-search-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    height: 40px;
    z-index: 10;
    width: 85%;
    visibility: hidden;
}
.box-search-mobile .search-box {
    display: block;
    margin: 0;
    width: 100%;
}
/*--- CSS Footer ---*/
.top-footer{
	background: #ececec;
	padding: 27px 0;
}
.text-subscribe{
	float: left;
	width: 40%;
	margin: 0 60px 0 0;
}
.text-subscribe i {
    background: #F6A01C;
    width: 66px;
    text-align: center;
    padding: 19px 0;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 2em;
    display: block;
    float: left;
    margin: 0 10px 0 0 ;
}
.text-subscribe p:nth-of-type(1) {
    font-size: 18px;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
}
.text-subscribe p:nth-of-type(2) {
    font-size: 14px;
    float: left;
}
.form-subscribe {
    width: 46%;
    float: left;
    border: 2px solid #F6A01C;
}
.form-subscribe input {
    padding: 10px;
    float: left;
    border: none;
    width: calc(100% - 130px);
    outline: none;
}
.form-subscribe button {
    text-transform: uppercase;
    background: #F6A01C;
    color: #fff;
    font-weight: bold;
    width: 130px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    border: none;
    text-align: center;
    padding: 10px;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.social-box a{
	color: #fff;
	display: inline-block;
	margin: 0 2px;
}
.icon-tw{
	background: #1da1f2;
}
.icon-fa{
	background: #3b5998;
}
.icon-yt{
	background: #e12b28;
}
.icon-ins{
	background: ;
}
.menu-header-v3 {
    border-bottom: 2px solid #F6A01C;
}
.form-subscribe,.text-subscribe p:nth-of-type(1),.social-box{
	margin: 12px 0 0 0;
}
.text-footer p,.text-subscribe p:nth-of-type(1),.text-subscribe p:nth-of-type(2){
	color: #2b2b2b;
}
.text-footer p{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 30px 0;
}
.text-footer{
	margin: 50px 0;
}
.text-footer li{
	list-style: none;
	line-height: 26pt;
}
.list-footer li:before{
	content: '\f111';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    float: left;
    margin: 0 10px 0 0;
    color: #666;
    font-size: 6px;
}
.text-footer li a,.icon-footer{
	font-size: 14px;
	color: #666666;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.text-footer li a:hover,.sider-bar-category .list-siderbar li a:hover{
	color: #000;
}
.icon-footer li{
	padding: 0 0 0 40px;
	position: relative;
}
.icon-footer i{
	color: #2b2b2b;
	width: 30px;
	text-align: center;
	font-size: 18px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}
.bottom-footer{
	background: #2b2b2b;
	padding: 20px 0;
}
.bottom-footer p{
	color: #fff;
	font-size: 14px;
	margin: 0;
}
.footer-icon-bottom .icon-spider {
    margin: 0 15px;
}
.icon_logo_footer img{
	padding: 0 20px;
}
.footer-icon-bottom .icon_logo_footer img{
	max-width: 100%;

}
.footer-v3 .support-box-info{
    border:none;
    text-align: left;
}
.footer-v3 .support-box-info img{
    left: auto;
    transform: inherit;
    float: left;
}
.footer-v3 .top-footer,.footer-v3 .form-subscribe input{
    background: #303030;
}
.footer-v3 .text-subscribe p:nth-of-type(1),.footer-v3 .form-subscribe input{
    color: #fff;
}
.footer-v3 .text-subscribe p:nth-of-type(2){
    color: #5c5c5c;
}
.footer-v3 .support-box-info p:nth-of-type(1){
    margin: 10px 0 0 10px;
    width: 50%;
}
.footer-v3 .support-box-info p:nth-of-type(2){
    margin: 1px 0 0 10px;
}
/*--- CSS Support Box ---*/
.support-box{
	padding: 55px 0;
}
.support-box-info {
    border-right: 1px solid #e5e5e5;
    text-align: center;
}
.support-box-info:last-child{
    border:none !important;
}
.support-box-info img {
    display: inline-block;
    float: none;
    margin: 5px 0 0px 0;
    left: 50%;
    transform: translateX(-50%);
}
.support-box-info p:nth-of-type(1) {
    font-weight: bold;
    text-transform: uppercase;
    color: #231f20;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 60px 0 0px 0;
}
.support-box-info p:nth-of-type(2){
    font-size: 11px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin: 2px 0 10px 0;
    letter-spacing: 0.25px;
    opacity: 0.6;
}
.support_box_v2 .support-box-info p{
    color: #fff !important
}
.support-box-v2,.support_box_v2 .support-box-info{
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.support-box-v3{
	border-bottom: 1px solid #ededed;
	padding: 75px 0;
}
/*-- CSS Breadcrumb --*/
.breadcrumb-web ul li {
    list-style: none;
    float: left;
    line-height: 50px;
}
.breadcrumb-web ul li a {
    color: #2b2b2b;
    font-size: 15px;
}
.breadcrumb-web ul li:first-child::before{
	content: '';
	display: none;
}
.breadcrumb-web ul li:before{
	content: '\f105';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 20px;
    color: #333;
}
/*-- CSS Sider Bar --*/
.check-box-custom li label{
	display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    line-height: 38px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}
.check-box-custom li input{
	opacity: 0;
	margin:0;
	position: absolute;
	cursor: pointer;
}
.check-box-custom .checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    border-radius: 1px;
}
.title-check-box-black li > label,.list-color li > label{
	line-height: normal;
	margin-bottom: 12px;
}
.title-check-box-black .checkmark,.list-color .checkmark{
	top: 4px;
}
.check-box-custom:not(.list-color) label:hover input ~ .checkmark {
    background-color: #ccc;
}
.check-box-custom:not(.list-color) label input:checked ~ .checkmark {
    background-color: #e3171b;
}
.check-box-custom:not(.list-color) label input:checked ~ .checkmark:after {
    display: block;
}
.list-color li:nth-of-type(1) span{
	background: #abb2be;
}
.list-color li:nth-of-type(2) span{
	background: #cec4a5;
}
.list-color li:nth-of-type(3) span{
	background: #abb2be;
}
.list-color li:nth-of-type(4) span{
	background: #f8cacd;
}
.list-color li:nth-of-type(5) span{
	background: #904a00;
}
.list-color li:nth-of-type(6) span{
	background: #f8ebd6;
}
.list-color li:nth-of-type(7) span{
	background: #df4a38;
}
.list-color li:nth-of-type(8) span{
	background: #be9968;
}
.list-color li:nth-of-type(9) span{
	background: #ec9b00;
}
.list-color li:nth-of-type(10) span{
	background: #679def;
}
.list-color li:nth-of-type(11) span{
	background: #a5d461;
}
.list-color li:nth-of-type(12) span{
	background: #ecc300;
}
.sider-bar-category ul li {
 	list-style: none;
}
.sider-bar-category ul li a{
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.sider-bar-category .list-siderbar li a,.check-box-custom li label,.range-slider .text-range{
	font-size: 16px;
    color: #585858;
}
.sider-bar-category{
	padding:25px;
}
.sider-bar-category .list-siderbar li{
	line-height: 38px;
}
.sider-bar-category .list-siderbar li:before{
	margin:0 10px 0 0;
	content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.sider-bar-category .title-siderbar{
	color: #232323;
	letter-spacing: 0.5px;
	font-size: 18px;
	text-transform: uppercase;
}
.list-color li {
    float: left;
    position: relative;
    width: 25px;
    margin:3.5px;
    height: 25px;
    list-style: none;
}
.list-color .checkmark{
	width: 25px;
	height: 25px;
	top: 0;
	border:none;
}
.list-color label input:checked ~ ::before{
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #333;
    position: absolute;
    left: 5px;
    top: 4px;
}
.list-color label input:checked ~ .checkmark {
    opacity: 0.5
}
.range-slider {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}
.text-range {
    position: absolute;
    bottom: 0;
    left: 0;
    margin:0;
}
/*---- CSS Box Product ----*/
.ranking i {
    color: #f9af2f;
    font-size: 13px;
}
.ranking {
    display: block;
}
.image-product{
    background:#fff;
    margin:0 0 15px 0;
}
.image-product img{
	max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
.product-percent-content{
    min-height: 390px;
}
.product-percent-content .title-product a{
    font-size: 12px;
}
.product-percent-content .price-product{
    font-size: 18px;
}
.product-percent-content .price-old{
    font-size: 14px;
}
.product-son img{
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
}
.image-product:hover{
	-webkit-box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
}
.option-product li {
    width: calc(100% / 3);
    float: left;
    font-size: 20px;
    height: 17px;
    text-align: center;
    border-right: 1px solid #dadada;
    box-sizing: border-box;
    list-style: none;
    display: table;
    margin-left: 10%;
}
.option-product li:last-child{
	border: none;
}
.option-product li a{
	color: #333333;
    position: absolute;
    margin: -3px 0 0 0;
    top: 50%;
    left: 50%;
    height: 20px;
    transform: translate(-50%,-50%);
}
.option-product li a:hover{
	color: #eb1a21;
    text-decoration: none;
}
.option-product {
    display: inline-block;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    width: 50%;
    z-index: 10;
    padding: 17px 0;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.56);
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s all cubic-bezier(0.54, 0.24, 0.65, 1.55);
    -o-transition: 0.5s all cubic-bezier(0.54, 0.24, 0.65, 1.55);
    -moz-transition: 0.5s all cubic-bezier(0.54, 0.24, 0.65, 1.55);
    -webkit-transition: 0.5s all cubic-bezier(0.54, 0.24, 0.65, 1.55);
}
.image-product:hover > .option-product{
	top: 50%;
	opacity:1;
    margin:0;
	visibility: visible;
}
.title-product {
    margin: 5px 0 3px 0;
}
.title-product a {
    text-transform: uppercase;
    font-weight: bold;
    color: #2b2b2b;
    font-size: 14px;
    display: block;
    letter-spacing: 0.25px;
}
.title-product a:hover{
    color: #008bff;
}
.price-old {
    font-size: 16px;
    color: #959595;
    letter-spacing: 0;
    text-decoration: line-through;
}
.price-product {
    color: #eb1a21;
    font-size: 20px;
    letter-spacing: -0.25px;
    font-family: 'Roboto Condensed', sans-serif;
}
.ranking-color{
	color: #f68e56;
}
.ranking-product-category {
    float: right;
    margin: 12px 0 0 0;
}
.product-category .image-product {
    height: 100%;
    max-width: 270px;
}
.button-show-sidebar{
	z-index: 5;
	display: none;
}
.button-show-sidebar p {
    width: 130px;
    font-size: 17px;
    line-height: 40px;
    margin: 0 0 15px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
}
.button-show-sidebar p:active{
	color: #e3171b;
    border: 1px solid #e3171b;
}
/*-- CSS Pagging --*/
.pagging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px 0;
}
.pagging ul li {
    float: left;
    list-style: none;
    margin: 0 5px;
    box-sizing: border-box;
}
.pagging ul li a{
	width: 40px;
	text-align: center;
	line-height: 38px;
	border:1px solid #dedede;
	display: block;
	color: #232323;
	font-size: 16px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.pagging ul li:last-child a,.pagging ul li:first-child a{
	padding:0 20px;
	width: auto;
}
.pagging ul li a:hover,.active-pagging a{
	color: #fff !important;
	background: #eb1a21;
	text-decoration: none;
}
.dots-pagging {
    padding-top: 20px;
}
/*-- CSS Table --*/
table {
    border-collapse: collapse;
}
/*-- CSS Modal --*/
.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}
.modal-content{
	border-radius: 0;
}
.modal-dialog{
	width: 96%;
	max-width: 1170px;
}
.slide-modal-big{
	width: 460px;
	float: none;
	margin: 0 auto
}
.close-modal {
    background: none;
    border: 1px solid #333333;
    border-radius: 50%;
    color: #333333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    right: 15px;
    outline: none;
    top: 0;
    z-index: 10;
    cursor: pointer;
}
.close-modal:hover{
	color: #eb1a21;
	border-color: #eb1a21;
}
.title-product-modal {
    font-size: 36px;
    text-transform: uppercase;
    margin: 35px 0 5px 0;
    letter-spacing: 0.25px;
}
.count-review-modal {
    margin: 0 0 0 30px;
    font-size: 14px;
    color: #717171;
    font-weight: 400;
}
.price-modal{
	font-size: 30px;
	color: #666666;
	font-family: "Roboto Condensed";
	font-weight: 400;
}
.price-modal span:last-child{
	font-size: 36px;
}
.price-old-modal{
	text-decoration: line-through;
}
.intro-product-modal{
	font-size: 15px;
	line-height: 26px;
}
.category-product-modal{
	font-size: 16px;
}
.box-num-product-modal input {
    width: 50px;
    line-height: 58px;
    border: 1px solid #dedede;
    text-align: center;
    font-size: 18px;
    padding: 0 3px;
    outline: none;
    float: left;
}
.box-num-product-modal span{
	width: 30px;
	line-height: 28px;
	display: table;
	cursor: pointer;
	text-align: center;
	border: 1px solid #dedede;
	border-left: none;
}
.box-num-product-modal span:nth-of-type(1){
	border-bottom: 1px solid #fff
}
.box-num-product-modal span:hover{
	background: #dedede;
}
.box-num-product-modal span:hover:nth-of-type(1){
	border-bottom: 1px solid #dedede
}
.add-cart-modal {
    background: #e3171b;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    padding: 0 40px;
}
.add-cart-modal:hover{
	background: #cc1419;
	text-decoration: none;
	color: #fff;
}
.add-favor-modal:hover{
	background: #333;
	color: #fff;
}
.category-product-modal a:hover{
	color: #333;
}
.add-favor-modal {
    line-height: 60px;
    padding: 0 17px;
    font-size: 1.8em;
    background: #d6d6d6;
    color: #fff;
}
.box-rank-modal,.option-button-modal{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#owl-big-slide-quickview {
    width: 100%;
    height: 450px;
}

header 	.search-box form{
	 display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;

	   -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	  align-items: center;
	}


body {
  overflow-x: hidden;
  position: relative;
  right: 0; }

.pushmenu {
  /*this is the nav*/
  background: #1d1d1f;
  width: 362px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed; }
  .pushmenu.pushmenu-left {
    background: transparent;
    width: 417px; }

.pushmenu-left {
  right: -417px; }

.pushmenu-left.pushmenu-open {
  right: 0; }

.pushmenu-push-toright {
  right: 362px; }

.pushmenu-push-toright-cart {
  right: 417px; }

/*Transition*/
.pushmenu, body {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 5; }

.pushmenu-push-toright .wrappage {
  position: relative; }

.pushmenu-push-toright-cart .wrappage:after {
  position: absolute;
  background: rgba(29, 29, 31, 0.6) none repeat scroll 0 0;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999;
  cursor: pointer; }

@media (max-width: 320px) {
  .pushmenu {
    width: 280px; }

  .pushmenu-left {
    right: -280px; }

  .pushmenu-push-toright-cart {
    right: 280px; }

  .pushmenu.pushmenu-left {
    width: 280px; }

  .menu-social {
    width: 280px; }

  .cart-bottom {
    width: 300px; } }
    .nav-home5 > li {
  position: relative;
  display: block; }
  .nav-home5 > li > a {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #a4a4a4;
    position: relative;
    -webkit-transition: none;
    transition: none;
    line-height: 26px;
    padding: 12px 30px;
    padding-right: 0;
    display: block;
    border-bottom: 1px solid rgba(92, 92, 92, 0.23); }
    .nav-home5 > li > a:hover {
      color: #fff;
      background: none; }
    .nav-home5 > li > a.active {
      color: #fff; }
.nav-home5 .menu-level1 {
  margin-top: 15px; }
  .nav-home5 .menu-level1 .level2 {
    padding-left: 48px; }
    .nav-home5 .menu-level1 .level2 > a {
      font: 14px/33px 'Roboto', sans-serif;
      text-transform: capitalize;
      color: #a4a4a4;
      position: relative; }
      .nav-home5 .menu-level1 .level2 > a:focus {
        color: #fff; }
        .nav-home5 .menu-level1 .level2 > a:focus:before {
          background: #fff; }
      .nav-home5 .menu-level1 .level2 > a:before {
        content: "";
        position: absolute;
        width: 9px;
        height: 1px;
        left: -18px;
        top: 10px;
        background: #a4a4a4; }
  .nav-home5 .menu-level1 .level1 > .level2 > a {
    color: #fff; }
    .nav-home5 .menu-level1 .level1 > .level2 > a:before {
      content: none; }
.nav-home5 .menu-level-2 {
  margin: 15px 0; }
  .nav-home5 .menu-level-2 .level3 {
    padding-left: 15px; }
    .nav-home5 .menu-level-2 .level3 > a {
      font: 400 14px/33px 'Roboto', sans-serif;
      text-transform: capitalize;
      color: #a4a4a4;
      position: relative; }
      .nav-home5 .menu-level-2 .level3 > a:focus {
        color: #fff; }
        .nav-home5 .menu-level-2 .level3 > a:focus:before {
          background: #fff; }
      .nav-home5 .menu-level-2 .level3 > a:before {
        content: "";
        position: absolute;
        width: 9px;
        height: 1px;
        left: -18px;
        top: 10px;
        background: #a4a4a4; }

.pushmenu.menu-home5 {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .menu-home5 .searchform {
  position: relative;
  padding: 0 28px 30px 28px;
  border-bottom: 2px solid rgba(92, 92, 92, 0.43); }
  .menu-home5 .searchform input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border: 1px solid rgba(208, 208, 208, 0.09);
    padding: 14px 50px 10px 18px;
    font-size: 14px;
    color: #fff;
    width: 100%; }
  .menu-home5 .searchform button {
    position: absolute;
    top: 18px;
    right: 28px;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center; }
    .close-left {
  float: right;
  color: #fff;
  cursor: pointer;
  width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;     margin-bottom: 10px;}
  .pushmenu-push-toleft {
  -webkit-transform: translate(362px, 0);
          transform: translate(362px, 0);
  -webkit-transform: translate3d(362px, 0, 0);
          transform: translate3d(362px, 0, 0);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6; }
  @media (max-width: 320px) {
    .pushmenu-push-toleft {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  .pushmenu-push-toleft .wrappage:after {
    background: rgba(29, 29, 31, 0.6);
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100; }

@media (max-width: 480px) {
  .wrappage.lbl_active:after {
    background: rgba(29, 29, 31, 0.6);
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 4; } }
  .menu-home5 {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  -webkit-transform-origin: top left;
          transform-origin: top left; }
  .menu-home5.pushmenu-open {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  @media (max-width: 320px) {
    .menu-home5.pushmenu-open {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
        .icon-sub-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 49px;
  width: 49px;
  border-left: 1px solid rgba(92, 92, 92, 0.23);
  cursor: pointer;
  padding-right: 18px;
  background-color: transparent; }
  .icon-sub-menu.up-icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg); }
  .icon-sub-menu.up-icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -sand-transform: rotate(45deg); }
  .icon-sub-menu:before {
    transform: translateX(3px) rotate(-50deg);
    -webkit-transform: translateX(3px) rotate(-50deg);
    -moz-transform: translateX(3px) rotate(-50deg);
    -o-transform: translateX(3px) rotate(-50deg);
    -ms-transform: translateX(3px) rotate(-50deg);
    -sand-transform: translateX(3px) rotate(-50deg); }
  .icon-sub-menu:after {
    transform: translateX(-4px) rotate(50deg);
    -webkit-transform: translateX(-4px) rotate(50deg);
    -moz-transform: translateX(-4px) rotate(50deg);
    -o-transform: translateX(-4px) rotate(50deg);
    -ms-transform: translateX(-4px) rotate(50deg);
    -sand-transform: translateX(-4px) rotate(50deg); }
  .icon-sub-menu:before, .icon-sub-menu:after {
    content: " ";
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out, transform .2s ease-in-out, width .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: background-color .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out, width .2s ease-in-out;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out; }
    .menu-level1 {
  display: none; }
  .menu-level1.open {
    display: block; }
.menu-vertical i{
	margin: 0 10px 0 0;
}
.menu-vertical{
	    background: #e3171b;
    padding: 15.5px 0 15.5px 18px;
    display:inline-block;
    width:100%;
}
.menu-vertical span {
	    color: #fff;
    line-height: normal;
    width: 100%;
    text-transform: uppercase;

    font-size:15px;
}
/* Header fixed */
.header-ontop{
	background: #fafafa none repeat scroll 0 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.header-ontop.fixed-ontop{
	transform: translateY(0);
    -webkit-transform: translateY(0);
    visibility: visible;
}


.header-ontop .menu-web{
	width:100%;
	background:transparent;
}
@media(max-width:812px){
	.hidden-ipx{
		display:none;
	}
}
.menu-header > .main__menu > li:first-child a{
	background:transparent;
	color:unset;
	width:unset;
	line-height:51px;
	padding:0 30px;
	text-transform:capitalize;
}